In [2]:
import pandas as pd
import re
creport = pd.read_csv('CompanyReport_Fiscal_2017_2018.csv')
wioa = pd.read_csv('wioa_emp_cleansing.csv')

In [4]:
#creport_head = creport.head()
#wioa_head = wioa.head()
#print(creport_head)
#print(wioa_head)
print("company: " +creport.columns)
print("wioa: " + wioa.columns)

Index(['company: Employer Name', 'company: City', 'company: County',
       'company: State', 'company: Workers', 'company: WIA'],
      dtype='object')
Index(['wioa: Primary Name', 'wioa: Secondary Name', 'wioa: Address',
       'wioa: Secondary Address', 'wioa: City', 'wioa: ST', 'wioa: ZIP',
       'wioa: Phone Number'],
      dtype='object')

In [5]:
# Make dataframe lower case
wioa_l = wioa.apply(lambda x: x.astype(str).str.lower())
creport_l = creport.apply(lambda x: x.astype(str).str.lower())

# Removing () and text inside it
creport_l["Employer Name"] = (creport_l.loc[:,["Employer Name"]].replace("\(.*\)", ' ', regex=True))

# Removing '-' and all text after that
creport_l["Employer Name"] = creport_l["Employer Name"].str.split("-").str[0]
creport_l["Employer Name"] = creport_l["Employer Name"].str.split("_").str[0]

# Drop na
#creport_l = creport_l.dropna(how = "any", inplace = True)
#wioa_l.head()
creport_l.head()

,Employer Name,City,County,State,Workers,WIA
0,arkansas promise,statewide,nan,arkansas,85.0,nan
1,cantrell drug company,north little rock,pulaski,arkansas,85.0,central
2,toys r us,little rock,pulaski,arkansas,25.0,central
3,dyncorp international,jacksonville,pulaski,arkansas,128.0,central
4,age industries,conway,faulkner,arkansas,20.0,central

In [6]:
# Convert dataframe to .csv file
wioa_l.to_csv('wioa_l.csv')
creport_l.to_csv('creport_l.csv')

In [7]:
print (creport_l.shape)
print (wioa_l.shape)

(74, 6)
(103065, 8)

# Analysis:

In [8]:
common_emp = list((set(creport_l["Employer Name"]) & (set(wioa_l["Secondary Name"]))))
len(common_emp)

0

In [9]:
mer = creport_l.merge(wioa_l, how = 'inner')
len(mer)

0

In [24]:
uniq_emp = list((set(creport_l["Employer Name"]) - (set(wioa_l["Secondary Name"]))))
len(uniq_emp)

50

In [27]:
uniq_emp2 = list((set(wioa_l["Secondary Name"]) - (set(creport_l["Employer Name"]))))
type(uniq_emp2)
len(uniq_emp2)

80814

In [29]:
wioa_l.columns

Index(['Primary Name', 'Secondary Name', 'Address', 'Secondary Address',
       'City', 'ST', 'ZIP', 'Phone Number'],
      dtype='object')

# sfgfg

In [32]:
from pandas import DataFrame
wioa_lm = wioa_l
wioa_lm.columns = ['Employer Name', 'Secondary Name', 'Address', 'Secondary Address',
       'City', 'ST', 'ZIP', 'Phone Number']
df = creport_l.merge(wioa_lm, on = "Employer Name", how = "left")
df.head()

,Employer Name,City_x,County,State,Workers,WIA,Match_Wpriname,Secondary Name,Address,Secondary Address,City_y,ST,ZIP,Phone Number
0,arkansas promise,statewide,nan,arkansas,85.0,nan,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cantrell drug company,north little rock,pulaski,arkansas,85.0,central,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,toys r us,little rock,pulaski,arkansas,25.0,central,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dyncorp international,jacksonville,pulaski,arkansas,128.0,central,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,age industries,conway,faulkner,arkansas,20.0,central,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
values = set(Df2['IDs'])

Df1['Match'] = Df1['name'].isin(values).astype(int)

# hjhjhjhj

In [100]:
#Using creport_2 for experiments
creport_2 = creport_l
creport_2.columns
creport_2["Employer Name"] = (creport_2.loc[:,["Employer Name"]].replace('[())]', ' ', regex=True))
creport_2.head()

,Employer Name,City,County,State,Workers,WIA
0,arkansas promise,statewide,nan,arkansas,85.0,nan
1,cantrell drug company,north little rock,pulaski,arkansas,85.0,central
2,toys r us,little rock,pulaski,arkansas,25.0,central
3,dyncorp international,jacksonville,pulaski,arkansas,128.0,central
4,age industries,conway,faulkner,arkansas,20.0,central

In [101]:
creport_3 = creport_2
creport_3.columns
creport_3["Employer Name"] = (creport_3.loc[:,["Employer Name"]].replace("\(.*\)", ' ', regex=True))

creport_4 = creport_3
creport_4["Employer Name"] = creport_4["Employer Name"].str.split("-").str[0]

creport_4.head()

,Employer Name,City,County,State,Workers,WIA
0,arkansas promise,statewide,nan,arkansas,85.0,nan
1,cantrell drug company,north little rock,pulaski,arkansas,85.0,central
2,toys r us,little rock,pulaski,arkansas,25.0,central
3,dyncorp international,jacksonville,pulaski,arkansas,128.0,central
4,age industries,conway,faulkner,arkansas,20.0,central

In [70]:
df['text_new'] = df['text'].str.split('::').str[0]

NameError: name 'df' is not defined

In [45]:
creport_l.head()

,Employer Name,City,County,State,Workers,WIA
0,arkansas promise,statewide,nan,arkansas,85.0,nan
1,cantrell drug company,north little rock,pulaski,arkansas,85.0,central
2,toys r us (north little rock store),little rock,pulaski,arkansas,25.0,central
3,dyncorp international,jacksonville,pulaski,arkansas,128.0,central
4,age industries - conway,conway,faulkner,arkansas,20.0,central

In [5]:
import re
k = "toysus (north little rock store)"
k = k(re.sub(r'\([^()]*\)', ''),str)

TypeError: sub() missing 1 required positional argument: 'string'

In [ ]:
re.sub(r'\([^)]*\)', '', creport_l["Employer Name"])

In [ ]:
re.sub(r'\([^()]*\)', '', s)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
text.split('(')[0]
energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")
energy['Country'] = energy['Country'].str.replace(r"\s+\(.*\)","")

In [68]:
k = creport_l.iloc[15:20, :]
k

       Employer Name         City   County     State Workers          WIA
15       babies r us  little rock  pulaski  arkansas    26.0  little rock
16        windstream  little rock  pulaski  arkansas    43.0  little rock
17              uams  little rock  pulaski  arkansas   258.0  little rock
18  charming charlie  little rock  pulaski  arkansas    12.0  little rock
19       dixie cafe   little rock  pulaski  arkansas    30.0  little rock

In [ ]:
df[df.apply(lambda x: x['city'].lower() in x['citylist'], axis=1)]

In [7]:
os.listdir()

['.ipynb_checkpoints',
 '1DB8C000',
 'Adult Education & Literacy Council  Partnerships with Employers.csv',
 'ARS WIOA Core Business Services - Program Year (PY) 2017.csv',
 'CompanyReport_Fiscal_2017_2018.csv',
 'creport_l.csv',
 'emp_join.ipynb',
 'emp_powerquery.autosave.xlsx',
 'emp_powerquery.xlsx',
 'WIOA Business Locations in Arkansas by County 2018-1.csv',
 'WIOA Business Locations in Arkansas by County 2018-1.xlsx',
 'wioa_emp_cleansing.csv',
 'wioa_l.csv']

In [8]:
part_emp = pd.read_csv('Adult Education & Literacy Council  Partnerships with Employers.csv', skiprows = 3)
part_emp.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 26: invalid start byte